footer {
  bottom: 0;
  width: 100%;
  height: 30vh;
  padding: 0 5%;
}
.speed-counter {
  transition: 60ms;
  &_center {
    transform: rotate(0deg);
  }
}
.numbers {
  overflow: visible;
  position: absolute;
  p {
    overflow: visible;
    color: white;
    position: absolute;
    font-size: 9px;
  }
}
.car-counter {
  transform: rotate(-45deg);
  width: 100%;
  height: 100%;
  &-number {
    margin-top: 180px;
    border-radius: 20px;
    font-size: 20px;
    overflow: visible;
    color: white;
    font-weight: bold;
    position: absolute;
    align-self: center;
  }
  &_stick {
    width: 70px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 5px;
    transform: translate(-59px);
    background-color: white;
    position: absolute;
  }
  &_center {
    height: 50px;
    border: 2px solid white;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}
.rpm {
  background-color: black;
  height: 30vh;
  aspect-ratio: 1/1;
  &-counter {
    transition: 60ms;
    .car-counter_stick {
      width: 64px;
    }
  }
}
.footer-el {
  border-top: 4px dashed white;
  border-left: 2px dashed white;
  border-right: 2px dashed white;
  border-bottom: 2px solid black;
  border-radius: 50%;
  background-color: black;
  height: 248px;
  aspect-ratio: 1/1;
  z-index: 12;
  display: flex;
  flex-direction: column;
}
.gear-counter {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.spd-counter {
  color: rgba(255, 217, 0, 0);
  height: 60%;
  width: 70%;
  border: 3px solid black;
  margin: 0 5%;
  border-radius: 20%;
  font-size: 25px;
}
