@use "sass:math";
@import "../mixins";
.computer-counters {
  bottom: 0;
  width: 100%;
  height: 30vh;
  padding: 0 5%;
}
.speed {
  &-counter {
    transition: 60ms;
    &_center {
      transform: rotate(0deg);
    }
  }
  &0 {
    margin-top: setSizeWithMath(195, 1080, 100vh);
    margin-left: setSizeWithMath(38, 1080, 100vh);
  }
  &1 {
    margin-top: setSizeWithMath(177, 1080, 100vh);
    margin-left: setSizeWithMath(23, 1080, 100vh);
  }
  &2 {
    margin-top: setSizeWithMath(161, 1080, 100vh);
    margin-left: setSizeWithMath(14, 1080, 100vh);
  }
  &3 {
    margin-top: setSizeWithMath(143, 1080, 100vh);
    margin-left: setSizeWithMath(8, 1080, 100vh);
  }
  &4 {
    margin-top: setSizeWithMath(125, 1080, 100vh);
    margin-left: setSizeWithMath(4, 1080, 100vh);
  }
  &5 {
    margin-top: setSizeWithMath(105, 1080, 100vh);
    margin-left: setSizeWithMath(4, 1080, 100vh);
  }
  &6 {
    margin-top: setSizeWithMath(85, 1080, 100vh);
    margin-left: setSizeWithMath(7, 1080, 100vh);
  }
  &7 {
    margin-top: setSizeWithMath(67, 1080, 100vh);
    margin-left: setSizeWithMath(14, 1080, 100vh);
  }
  &8 {
    margin-top: setSizeWithMath(48, 1080, 100vh);
    margin-left: setSizeWithMath(24, 1080, 100vh);
  }
  &9 {
    margin-top: setSizeWithMath(34, 1080, 100vh);
    margin-left: setSizeWithMath(36, 1080, 100vh);
  }
  &10 {
    margin-top: setSizeWithMath(21, 1080, 100vh);
    margin-left: setSizeWithMath(49, 1080, 100vh);
  }
  &12 {
    margin-top: setSizeWithMath(5, 1080, 100vh);
    margin-left: setSizeWithMath(84, 1080, 100vh);
  }
  &14 {
    margin-top: setSizeWithMath(1, 1080, 100vh);
    margin-left: setSizeWithMath(123, 1080, 100vh);
  }
  &16 {
    margin-top: setSizeWithMath(11, 1080, 100vh);
    margin-left: setSizeWithMath(160, 1080, 100vh);
  }
  &18 {
    margin-top: setSizeWithMath(33, 1080, 100vh);
    margin-left: setSizeWithMath(192, 1080, 100vh);
  }
  &20 {
    margin-top: setSizeWithMath(67, 1080, 100vh);
    margin-left: setSizeWithMath(215, 1080, 100vh);
  }
  &22 {
    margin-top: setSizeWithMath(105, 1080, 100vh);
    margin-left: setSizeWithMath(226, 1080, 100vh);
  }
  &24 {
    margin-top: setSizeWithMath(143, 1080, 100vh);
    margin-left: setSizeWithMath(222, 1080, 100vh);
  }
  &26 {
    margin-top: setSizeWithMath(180, 1080, 100vh);
    margin-left: setSizeWithMath(205, 1080, 100vh);
  }
}
.numbers {
  overflow: visible;
  position: absolute;
  p {
    overflow: visible;
    color: white;
    position: absolute;
    font-size: setSizeWithMath(9, 1080, 100vh);
  }
}
.car-counter {
  transform: rotate(-45deg);
  width: 100%;
  height: 100%;
  &-number {
    margin-top: setSizeWithMath(180, 1080, 100vh);
    border-radius: setSizeWithMath(20, 1080, 100vh);
    font-size: setSizeWithMath(20, 1080, 100vh);
    overflow: visible;
    color: white;
    font-weight: bold;
    position: absolute;
    align-self: center;
  }
  &_stick {
    width: setSizeWithMath(70, 1080, 100vh);
    border-top-left-radius: setSizeWithMath(50, 1080, 100vh);
    border-bottom-left-radius: setSizeWithMath(50, 1080, 100vh);
    height: setSizeWithMath(5, 1080, 100vh);
    transform: translate(setSizeWithMath(-59, 1080, 100vh));
    background-color: white;
    position: absolute;
  }
  &_center {
    height: setSizeWithMath(50, 1080, 100vh);
    border: setSizeWithMath(2, 1080, 100vh) solid white;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}
.rpm {
  background-color: black;
  height: 30vh;
  aspect-ratio: 1/1;
  &-counter {
    transition: 60ms;
    .car-counter_stick {
      width: setSizeWithMath(64, 1080, 100vh);
    }
  }
  &1 {
    margin-top: setSizeWithMath(149, 1080, 100vh);
    margin-left: setSizeWithMath(10, 1080, 100vh);
  }
  &2 {
    margin-top: setSizeWithMath(100, 1080, 100vh);
    margin-left: setSizeWithMath(7, 1080, 100vh);
  }
  &3 {
    margin-top: setSizeWithMath(54, 1080, 100vh);
    margin-left: setSizeWithMath(25, 1080, 100vh);
  }
  &4 {
    margin-top: setSizeWithMath(20, 1080, 100vh);
    margin-left: setSizeWithMath(63, 1080, 100vh);
  }
  &5 {
    margin-top: setSizeWithMath(6, 1080, 100vh);
    margin-left: setSizeWithMath(113, 1080, 100vh);
  }
  &6 {
    margin-top: setSizeWithMath(18, 1080, 100vh);
    margin-left: setSizeWithMath(162, 1080, 100vh);
  }
  &7 {
    margin-top: setSizeWithMath(54, 1080, 100vh);
    margin-left: setSizeWithMath(201, 1080, 100vh);
  }
  &8 {
    margin-top: setSizeWithMath(98, 1080, 100vh);
    margin-left: setSizeWithMath(218, 1080, 100vh);
  }
  &9 {
    margin-top: setSizeWithMath(148, 1080, 100vh);
    margin-left: setSizeWithMath(213, 1080, 100vh);
  }
  &10 {
    margin-top: setSizeWithMath(191, 1080, 100vh);
    margin-left: setSizeWithMath(186, 1080, 100vh);
  }
}
.footer-el {
  border-top: setSizeWithMath(4, 1080, 100vh) dashed white;
  border-left: setSizeWithMath(2, 1080, 100vh) dashed white;
  border-right: setSizeWithMath(2, 1080, 100vh) dashed white;
  border-bottom: setSizeWithMath(2, 1080, 100vh) solid black;
  border-radius: 50%;
  background-color: black;
  height: setSizeWithMath(248, 1080, 100vh);
  aspect-ratio: 1/1;
  z-index: 12;
  display: flex;
  flex-direction: column;
}
.gear-counter {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: setSizeWithMath(30, 1080, 100vh);
}
