@charset "UTF-8";
@use "sass:math";
@import "../mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.credits {
  transition: 1s;
  padding-top: 5vw;
  top: 0;
  z-index: 20;
  position: absolute;
  background-color: black;
  color: white;
  font-size: setSizeWithMath(30);
  font-weight: bold;
  display: grid;
  opacity: 1;
  width: 100vw;
  grid-template-rows: auto;
  row-gap: 3vw;
  * {
    contain-intrinsic-size: auto 200px;
    align-self: center;
    justify-self: center;
  }
  img,
  svg {
    width: 25vw;
    height: auto;
    min-width: 20vw;
    padding: 2.5vw;
  }
  &_text {
    display: grid;
    text-align: center;
  }
  &_column {
    &_left,
    &_right {
      @include addFlex(unset, center, column);
    }
  }
}

body {
  height: 100vh;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  background-color: red;
  width: 10px;
  &-thumb {
    background-color: black;
  }
}
[data-intersection="90deg"] {
  transition: 1s transform;
  &:not([style*="2/4"]) {
    transform: rotateY(90deg);
  }
  &[style*="2/4"] {
    transform: rotateX(90deg);
  }
}
[data-intersection="-90deg"] {
  transition: 1s transform;
  &:not([style*="2/4"]) {
    transform: rotateY(-90deg);
  }
  &[style*="2/4"] {
    transform: rotateX(-90deg);
  }
}
.animated[data-intersection] {
  transform: unset;
}
