div.menu-content {
  flex-direction: column;
}

.phone-counters {
  perspective: 200px;
  transform-style: preserve-3d;
}

.changeScreen button {
  background-color: white;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
}

div.background {
  bottom: unset;
  left: -3vh;
}

div.gears-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 66%;
  width: 60%;
  justify-self: baseline;
  align-self: center;
  grid-column: 2/3;
}
div.gears-block img {
  cursor: pointer;
  transition: 0.5s;
  width: 9.2592592593vh;
}
div.gears-block img:active {
  box-shadow: 0 0 10px black;
}
div.gear-counter {
  position: static;
  border: 0.6481481481vh double white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.7777777778vh;
  color: white;
  width: fit-content;
  border-radius: 50%;
  top: unset;
  line-height: 0;
  aspect-ratio: 1/1;
  font-size: 5.5555555556vh;
  font-family: "Orbitron", sans-serif;
}

.pedal {
  width: 15vh;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}
.pedal img {
  width: 100%;
}
.pedal div {
  position: absolute;
  height: inherit;
  width: inherit;
}

#useTheEngine {
  background-color: red;
  color: white;
  border: 0.462962963vh dashed white;
  font-size: 1.8518518519vh;
  cursor: pointer;
  grid-column: 4/5;
  height: 30%;
  align-self: center;
  justify-self: flex-end;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.counters {
  height: 100%;
  align-items: center;
  display: flex;
  align-self: center;
  grid-column: 3/4;
  justify-self: center;
}

footer {
  height: 37vh;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}

footer.phone-counters {
  display: grid;
}

div.rpm,
div.speed {
  scale: 1.54;
}

div.speed {
  margin-left: 12.6vh;
}

.playing-btn {
  transition: 0.5s;
}

div.road {
  height: 63.602vh;
}

div.menu-content {
  justify-content: center;
}

img.wheel {
  width: 2.8518518519vh;
}

div.enemy-position {
  font-size: 7.1296296296vh;
  margin-top: 4.2777777778vh;
}

div.turn-position {
  font-size: 5.7037037037vh;
  margin-top: 20.02vh;
}

div.car,
div.enemy-car {
  width: 21.3888888889vh;
}

div.enemy-car {
  margin-top: 4.2777777778vh;
}

img.vehicle {
  width: 21.3888888889vh;
}

div.car {
  top: 18.537037037vh;
}
div.car img.one {
  margin-left: 16.6833333333vh;
  margin-top: 3.137037037vh;
}
div.car img.two {
  margin-left: 3.137037037vh;
  margin-top: 3.137037037vh;
}

.firstRace img.one {
  margin-left: 15.9703703704vh;
  margin-top: 5.1333333333vh;
}
.firstRace img.two {
  margin-left: 3.4222222222vh;
  margin-top: 5.1333333333vh;
}
.firstRace img.flame {
  margin-left: 0;
  margin-top: 6.4166666667vh;
}

.secondRace img.one {
  margin-left: 16.8259259259vh;
  margin-top: 5.1333333333vh;
}
.secondRace img.two {
  margin-left: 3.2796296296vh;
  margin-top: 5.1333333333vh;
}
.secondRace img.vehicle {
  margin-left: unset;
  margin-top: 1.8537037037vh;
}
.secondRace img.flame {
  margin-left: -1.2833333333vh;
  margin-top: 6.1314814815vh;
}

.finalRace img.one {
  margin-left: 3.5648148148vh;
  margin-top: 3.137037037vh;
}
.finalRace img.two {
  margin-left: 16.3981481481vh;
  margin-top: 3.137037037vh;
}
.finalRace img.flame {
  margin-left: -0.9981481481vh;
  margin-top: 4.1351851852vh;
}

img.flame {
  margin-left: -1.2833333333vh;
  margin-top: 4.2777777778vh;
}

div.pause img {
  height: 7.1296296296vh;
}
div.pause p {
  font-size: 7.1296296296vh;
}

body header {
  font-size: 2.8518518519vh;
  min-width: 30.8%;
  min-height: 7.7vh;
  padding: 4.2777777778vh 9.9814814815vh;
  border-radius: 2.1388888889vh;
}

.tunnel {
  top: 9.5vh;
}
.tunnel img {
  height: 52.4740740741vh;
}

/*# sourceMappingURL=styles.css.map */
