$scale: 1.54;
@import "../mixins";
@mixin setPosForNumbers($left, $top) {
  @include setMargin(
    setSizeWithMath($left, 1080, 100vh) * $scale,
    setSizeWithMath($top, 1080, 100vh) * $scale
  );
}
div.menu-content {
  flex-direction: column;
}
.phone-counters {
  perspective: 200px;
  transform-style: preserve-3d;
  display: grid;
}
.changeScreen button {
  background-color: white;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 5px 10px;
  color: black;
  width: 341px;
  border-radius: 20px;
  padding: 10px;
}
div.background {
  bottom: unset;
  left: -3vh;
}
div.gear img,
.pedal,
#useTheEngine,
.changeScreen button {
  cursor: pointer;
}
div.gear {
  &s-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 66%;
    width: 60%;
    justify-self: baseline;
    align-self: center;
    grid-column: 2/3;
    img {
      transition: 0.5s;
      width: setSizeWithMath(100, 1080, 100vh);
      &:active {
        box-shadow: 0 0 10px black;
      }
    }
  }
  &-counter {
    position: static;
    border: setSizeWithMath(7, 1080, 100vh) double white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: setSizeWithMath(30, 1080, 100vh);
    color: white;
    width: fit-content;
    border-radius: 50%;
    top: unset;
    line-height: 0;
    aspect-ratio: 1/1;
    font-size: setSizeWithMath(60, 1080, 100vh);
    font-family: "Orbitron", sans-serif;
  }
}
.pedal {
  width: 15vh;
  align-self: center;
  justify-self: center;
  img {
    width: 100%;
  }
  div {
    position: absolute;
    height: 100%;
    width: inherit;
  }
}
#useTheEngine {
  background-color: red;
  color: white;
  border: setSizeWithMath(5, 1080, 100vh) dashed white;
  font-size: setSizeWithMath(20, 1080, 100vh);
  grid-column: 4/5;
  height: 30%;
  align-self: center;
  justify-self: flex-end;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.counters {
  height: 100%;
  align-items: center;
  display: flex;
  align-self: center;
  grid-column: 3 / 4;
  justify-self: center;
}
footer {
  height: 37vh;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}
div.rpm,
div.speed {
  scale: $scale;
}
div.speed {
  margin-left: 12.6vh;
}
.playing-btn {
  transition: 0.5s;
}
div.road {
  height: 41.3vh * $scale;
}
div.menu-content {
  justify-content: center;
}
img.wheel {
  width: setSizeWithMath(20, 1080, 100vh) * $scale;
}
div.enemy-position {
  font-size: setSizeWithMath(50, 1080, 100vh) * $scale;
  margin-top: setSizeWithMath(30, 1080, 100vh) * $scale;
}
div.turn-position {
  font-size: setSizeWithMath(40, 1080, 100vh) * $scale;
  margin-top: 13vh * $scale;
}
div.car,
div.enemy-car {
  width: setSizeWithMath(150, 1080, 100vh) * $scale;
}
div.enemy-car {
  margin-top: setSizeWithMath(30, 1080, 100vh) * $scale;
}
img.vehicle {
  width: setSizeWithMath(150, 1080, 100vh) * $scale;
}
div.car {
  top: setSizeWithMath(130, 1080, 100vh) * $scale;
  img.one {
    @include setMargin(
      setSizeWithMath(117, 1080, 100vh) * $scale,
      setSizeWithMath(22, 1080, 100vh) * $scale
    );
  }
  img.two {
    @include setMargin(
      setSizeWithMath(22, 1080, 100vh) * $scale,
      setSizeWithMath(22, 1080, 100vh) * $scale
    );
  }
}
.firstRace {
  img.one {
    @include setMargin(
      setSizeWithMath(112, 1080, 100vh) * $scale,
      setSizeWithMath(36, 1080, 100vh) * $scale
    );
  }
  img.two {
    @include setMargin(
      setSizeWithMath(24, 1080, 100vh) * $scale,
      setSizeWithMath(36, 1080, 100vh) * $scale
    );
  }
  img.flame {
    @include setMargin(0, setSizeWithMath(45, 1080, 100vh) * $scale);
  }
}
.secondRace {
  img.one {
    @include setMargin(
      setSizeWithMath(118, 1080, 100vh) * $scale,
      setSizeWithMath(36, 1080, 100vh) * $scale
    );
  }
  img.two {
    @include setMargin(
      setSizeWithMath(23, 1080, 100vh) * $scale,
      setSizeWithMath(36, 1080, 100vh) * $scale
    );
  }
  img.vehicle {
    @include setMargin(unset, setSizeWithMath(13, 1080, 100vh) * $scale);
  }
  img.flame {
    @include setMargin(
      setSizeWithMath(-9, 1080, 100vh) * $scale,
      setSizeWithMath(43, 1080, 100vh) * $scale
    );
  }
}
.finalRace {
  img.one {
    @include setMargin(
      setSizeWithMath(25, 1080, 100vh) * $scale,
      setSizeWithMath(22, 1080, 100vh) * $scale
    );
  }
  img.two {
    @include setMargin(
      setSizeWithMath(115, 1080, 100vh) * $scale,
      setSizeWithMath(22, 1080, 100vh) * $scale
    );
  }
  img.flame {
    @include setMargin(
      setSizeWithMath(-7, 1080, 100vh) * $scale,
      setSizeWithMath(29, 1080, 100vh) * $scale
    );
  }
}
img.flame {
  @include setMargin(
    setSizeWithMath(-9, 1080, 100vh) * $scale,
    setSizeWithMath(30, 1080, 100vh) * $scale
  );
}
div.pause {
  img {
    height: setSizeWithMath(50, 1080, 100vh) * $scale;
  }
  p {
    font-size: setSizeWithMath(50, 1080, 100vh) * $scale;
  }
}
body header {
  font-size: setSizeWithMath(20, 1080, 100vh) * $scale;
  min-width: 20% * $scale;
  min-height: 5vh * $scale;
  padding: setSizeWithMath(30, 1080, 100vh) * $scale
    setSizeWithMath(70, 1080, 100vh) * $scale;
  border-radius: setSizeWithMath(15, 1080, 100vh) * $scale;
}
.tunnel {
  top: 9.5vh;
  img {
    height: setSizeWithMath(368 * $scale, 1080, 100vh);
  }
}
